@use '../../scss/variables/fontSizes';
@use '../../scss/variables/colors';

.mainContent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: start;
	align-items: stretch;
}

.mainTextCont {
	grid-column: 1/3;
	position: relative;
	z-index: 1;
	padding: 0 0 40px;

	h1 {
		font-size: fontSizes.$xxl-text;
		line-height: 135.3%;
		min-width: 250px;
	}

	.mainText {
		font-size: fontSizes.$md-text;
		color: colors.$secondaryTextColor;
		line-height: 150%;
		margin-top: 53px;
		padding-left: 23.5px;
		border-left: 1px solid white;
		grid-column: 1/3;
	}

	.mainText:nth-of-type(2) {
		display: none;
	}

	.mainBtnCont {
		display: flex;
		gap: 40px;
		margin-top: 64px;
	}

	.mainInfoCont {
		display: flex;
		gap: 218px;
		margin-top: 114px;
	}

	@media (width < 660px) {
		padding: 0 0 50px;

		.mainText:nth-of-type(1) {
			display: none;
		}

		.mainText:nth-of-type(2) {
			display: block;
			margin-top: 35px;
			padding-left: 5px;
		}

		.mainBtnCont {
			flex-direction: column;
			align-items: start;
			gap: 16px;
			width: max-content;
			margin-top: 50px;

			button {
				width: 100%;
			}
		}

		.mainInfoCont {
			margin-top: 90px;
			gap: 45px;
		}
	}
}

.mentorImgCont {
	grid-column: 3/4;
	width: 100%;
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
		display: block;
		position: absolute;
		bottom: 0;
	}

	@media (width < 990px) {
		width: 275px;
		img {
			min-width: 275px;
			width: auto;
			height: 100%;
			z-index: 0;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	@media (width < 643px) {
		width: 275px;
		img {
			position: absolute;
			width: 100%;
			height: auto;
			bottom: 0;
			left: 0;
			transform: translateX(50px);
		}
	}
}

.modalContent {
	min-height: 100vh;
	max-width: 612px;
	background: #0f1d45;
	overflow: hidden;
	position: relative;
	text-align: center;

	.modalHead {
		text-align: right;
		padding: 40px;

		@media (width < 680px) {
			svg {
				width: 20px;
			}
		}
	}

	.modalMain {
		display: flex;
		flex-direction: column;
		gap: 40px;

		h2 {
			font-size: fontSizes.$modal-title-size;
			font-weight: 600;
		}
		h3 {
			font-size: fontSizes.$xl-text;
			font-weight: 600;
		}
	}

	.logo {
		position: absolute;
		bottom: 80px;
		right: 70px;

		img {
			height: 34px;
		}

		@media (width < 680px) {
			bottom: 25px;
			right: 25px;

			img {
				height: auto;
				width: 96px;
			}
		}
	}
}

.modalForm {
	min-height: 100vh;
	height: 100%;
	background: #0f1d45;
	max-width: 612px;
	overflow: hidden;
	position: relative;
	&.active {
		padding: 40px 75px 40px 57px;
	}

	.errorMessage {
		background-color: #f0d9e5;
		color: #890b35;
		padding: 20px;
		border-radius: 10px;
		position: absolute;
		top: 0;
		font-size: fontSizes.$md-text;
	}

	.formHead {
		text-align: right;
	}

	.formContent {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 80%;
		margin-top: 40px;

		.inputCont {
			display: contents;
		}

		h2 {
			font-size: fontSizes.$modal-title-size;
			font-weight: 600;
		}
	}

	.privacyCont {
		display: flex;
		align-items: center;
		gap: 23px;

		input[type='checkbox'] {
			min-width: 30px;
			height: 30px;
			appearance: none;
			border: 1px solid #ffffff;

			&:checked {
				appearance: auto;
			}
		}

		label {
			font-family: 'Montserrat', sans-serif;
			font-size: fontSizes.$md-text;
		}
	}

	@media (width < 680px) {
		min-width: 100%;
		&.active {
			padding: 24px 26px 40px 34px !important;
		}

		.formHead svg {
			width: 20px;
		}

		.formContent {
			justify-content: start;

			h2 {
				margin-bottom: 50px;
			}

			.inputCont{
				display: grid;
				gap: 44px;
			}

			.privacyCont {
				margin-top: 30px;
				margin-bottom: 55px;

				input[type='checkbox'] {
					min-width: 15px;
					height: 15px;
				}
			}
		}
	}
}
